@font-face {
  font-family: "Geosans";
  src: url("./assets/general/GeosansLight.eot");
  src: url("./assets/general/GeosansLight.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/general/GeosansLight.woff") format("woff"),
    url("./assets/general/GeosansLight.ttf") format("truetype");
}

body {
  font-family: "Geosans";
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --crypto-stars-bg: #2b2b2b;
  --yellow-text-clr: #ffd862;
  --default-text-color: #fff;
  --font-size: min(1.4rem, 4.3vw);
}

.page-wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.page-container {
  position: relative;
  flex-basis: 800px;
  padding: 0 20px;
}

#crypto-stars {
  background: var(--crypto-stars-bg);
}

.title-line {
  position: absolute;
  height: 9vmin;
  width: 100%;
  top: 8vmin;
  left: 0;
  z-index: 1;
}

.yellow-text {
  color: var(--yellow-text-clr);
  text-decoration: none;
}

.page-footer {
  position: absolute;
  height: 80px;
  width: 200px;
  left: calc(50% - 100px);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-footer p {
  font-size: var(--font-size);
}

.cubes {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  width: 150px;
  z-index: 3;
}

.icons {
  background-color: var(--yellow-text-clr);
  border-radius: 5px;
  padding: 0 3px;
  margin-bottom: 10px;
}

.icons i {
  background-color: #fff;
  margin: 3px;
  transition: transform 0.2s ease-in-out;
}

.icons i:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.facebook-icon {
  color: #3b5998 !important;
}

.twitter-icon {
  color: #00acee !important;
}

.reddit-icon {
  color: #ff4500 !important;
}

.mail-icon {
  color: #ea4335 !important;
}

.page-header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25vmin;
  width: 100%;
}

.title-icon {
  height: 80%;
}

.title-title {
  height: 50%;
}

.title-apps {
  text-align: center;
  transform: translateY(25%);
  height: 100%;
}

.appstore {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.appstore img {
  width: 15vmin;
}

/* Body */
.page-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 50vh;
  margin-bottom: min(100px, 30vmin);
}

.description {
  margin: 10px auto;
  text-align: center;
}

.description p {
  font-size: var(--font-size);
}

.screenshots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30vh;
}

.screenshots img {
  max-height: 100%;
  max-width: 30%;
  margin-top: 20px;
}

.icons {
  display: flex;
}

.icons i {
  color: #fff;
  font-size: 2rem;
}

/* Responsive */
@media (max-width: 1000px) {
  .cubes {
    width: 100px;
  }
}

@media (max-width: 500px) {
  .screenshots img:last-child {
    margin-bottom: 100px;
  }

  .cubes {
    width: 70px;
  }

  .title-apps {
    transform: translateY(20px);
  }

  .appstore {
    margin-top: 5px;
  }

  .screenshots {
    flex-direction: column;
    height: 100%;
  }

  .screenshots img {
    max-width: 80%;
  }
}
