@font-face {
  font-family: "Geosans";
  src: url("./assets/general/GeosansLight.eot");
  src: url("./assets/general/GeosansLight.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/general/GeosansLight.woff") format("woff"),
    url("./assets/general/GeosansLight.ttf") format("truetype");
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Geosans";
  height: 100vh;
  color: #fff;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-background: #0bb0ec;
  --crypto-stars-bg: #2b2b2b;
  --yellow-text-clr: #ffd862;
  --default-text-color: #fff;
  --font-size: min(1.4rem, 4.3vw);
}

p {
  font-size: var(--font-size);
  color: var(--default-text-color);
}

.page-wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  scroll-snap-type: y mandatory;
}

.page-container {
  position: relative;
  flex-basis: 800px;
  padding: 0 40px;
}

#wrapper {
  transition: transform .5s ease-in-out;
}

#scroller {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 20;
  top: calc(50vh - 50px);
  right: 5px;
  width: 40px;
  height: 90px;
  padding: 8px 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

#scroller a {
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-basis: 30%;
}

.scroll-dot {
  position: relative;
  display: block;
  z-index: 22;
  height: 10px;
  width: 10px;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 50%;
}

.scroll-icon {
  position: absolute;
  top: -10px;
  left: -10px;
  background-image: url("./assets/general/pixelfresh_icon.png") !important;
  background-position: center;
  background-size: cover;
  width: 30px !important;
  height: 30px !important;
  z-index: 23;
  transform: scale(0);
  transition: transform 0.1s ease-in-out;
}

.scroll-icon.active {
  transform: scale(1);
}

#crypto-stars {
  background: var(--crypto-stars-bg);
}

.title-line {
  position: absolute;
  height: 9vmin;
  width: 100%;
  top: 8vmin;
  left: 0;
  z-index: 1;
}

.yellow-text {
  color: var(--yellow-text-clr);
  text-decoration: none;
}

.page-footer {
  position: absolute;
  height: 80px;
  min-width: 200px;
  left: calc(50% - 100px);
  bottom: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-footer p {
  font-size: var(--font-size);
}

.cubes {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  width: 150px;
  z-index: 3;
}

.screenshots {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.screenshot {
  margin-top: 20px;
  cursor: pointer;
}

#gallery {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 30;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery.show {
  visibility: visible;
}

#galleryImage {
  max-height: 80%;
  max-width: 80%;
  z-index: 31;
  opacity: 0;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s ease;
  border: 3px solid var(--yellow-text-clr);
  border-radius: 5px;
}

.page-header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25vmin;
  width: 100%;
}

/* Main */

#main {
  background-color: var(--main-background);
}

.main-logo {
  max-width: min(90%, 100vmin);
  margin: min(300px, 50vw) auto 3vw auto;
}

.main-logo img {
  width: 100%;
}

.main-icons {
  display: flex;
  justify-content: space-between;
  max-width: min(80%, 100vmin);
  margin: 0 auto;
}

.main-icons a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 min(10px, 1vw);
}

.main-icons img {
  width: 100%;
}

.main-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: min(100px, 30vmin);
}

.main-links div {
  display: flex;
}

.main-links a {
  color: var(--yellow-text-clr);
  font-size: var(--font-size);
  text-decoration: none;
}

.main-links p {
  margin-left: 5px;
}

.desc-introduce {
  margin-top: 8vmin;
}

.pp {
  color: var(--yellow-text-clr);
  margin: 0;
}

/* Crypto Stars */

.title-icon {
  height: 80%;
}

.title-title {
  height: 50%;
}

.title-apps {
  text-align: center;
  transform: translateY(25%);
  height: 100%;
}

.appstore {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.appstore img {
  width: 15vmin;
}

.page-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 50vh;
}

.description {
  position: relative;
  z-index: 2;
  margin: 10px auto;
  text-align: center;
}

.description p {
  font-size: var(--font-size);
}

.icons {
  display: flex;
}

.icons i {
  color: #fff;
  font-size: 2rem;
}

.screenshots.crypto img {
  max-width: 30%;
  max-height: 30vmin;
}

/* Pixel Car Racer */
#car-racer {
  background-color: #ee6085;
}

.title-decor {
  position: absolute;
  z-index: 0;
  top: -1vmin;
  left: -5vmin;
  width: min(550px, 50vmin);
}

.screenshots.racer {
  flex-direction: column;
  justify-content: center;
}

.screenshots.racer div {
  display: flex;
  justify-content: space-evenly;
}

.screenshots.racer img {
  max-width: 45%;
}

/* Responsive */
@media (max-width: 1000px) {
  .cubes {
    width: 100px;
  }
  .title-decor {
    left: 0px;
  }
}

@media (max-width: 500px) {
  .cubes {
    width: 70px;
  }

  .title-apps {
    transform: translateY(20px);
  }

  .appstore {
    margin-top: 5px;
  }
}

@media (orientation: landscape) and (max-width: 1200px) {
  .main-logo {
    margin-top: 15vmin;
    margin-bottom: 3vmin;
  }

  .screenshots.racer img {
    max-height: 22vh;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  body {
    --font-size: 16px;
  }
}
